body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2.header{
	display: flex;
	justify-content: space-between;
}

.single-shelf {
  overflow: auto;
}

.error-display, .validity-display {
  color: red;
}

.header-info {
  margin-left: 2em;
  margin-right: 2em;
}